* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center-div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3498db;
}

.face {
  width: 30rem;
  height: 30rem;
  background-color: #f5f6fa;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.8);
}

.eyes {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eyes::before {
  content: "";
  width: 40%;
  height: 40%;
  margin-left: 1.5rem;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
}

.eyes::after {
  content: "";
  width: 40%;
  height: 40%;
  margin-right: 1.5rem;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.eyes::before .eye {
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  position: absolute;
}

.eye::before {
  width: 15%;
  height: 15%;
  background-color: yellow;
}
