* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center-div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3498db;
}

.face {
  /* width: 30rem; */
  /* height: 30rem; */
  width: 600px;
  height: 550px;
  background-color: #f5f6fa;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.eyes {
  /* width: 100%; */
  /* height: 100%; */
  width: inherit;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.eye {
  /* width: 40%;
  height: 40%; */
  width: 250px;
  height: 250px;
  background: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.pupil {
  /* width: 20%; */
  /* height: 20%; */
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); */
  transform: translate(calc(-50% + var(--x, 0px)), calc(-50% + var(--y, 0px)));
}

/* =========================
   Responsive Design
   ========================= */

/* Tablets */
@media (max-width: 992px) {
  .face {
    width: 420px;
    height: 400px;
  }

  .eyes {
    height: 220px;
  }

  .eye {
    width: 170px;
    height: 170px;
  }

  .pupil {
    width: 40px;
    height: 40px;
  }
}

/* Large Phones */
@media (max-width: 768px) {
  .face {
    width: 320px;
    height: 300px;
  }

  .eyes {
    height: 180px;
  }

  .eye {
    width: 130px;
    height: 130px;
  }

  .pupil {
    width: 32px;
    height: 32px;
  }
}

/* Small Phones */
@media (max-width: 480px) {
  .center-div {
    padding: 20px;
  }

  .face {
    width: 260px;
    height: 240px;
  }

  .eyes {
    height: 150px;
  }

  .eye {
    width: 110px;
    height: 110px;
  }

  .pupil {
    width: 26px;
    height: 26px;
  }
}
